body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(../PICS/BG_subscribe.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
 }
 h1, h2, h3, p {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase; 
    background-color: rgb(236, 159, 59);
    border-radius: 3px;
    padding: 3px;
}

.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grid div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-bottom: 10px;
    /* Position initiale : en bas, invisible */
    transform: translateY(100%);
    opacity: 0;
    /* Transition pour animation fluide */
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; 
}
/* Position finale : visible et à sa place */
.grid div.show{
    transform: translateY(0);
    opacity: 1;
}



div:nth-last-of-type(even)>h3{
    background-color: rgba(6, 80, 15);
    color: white;
}

.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: absolute;
    top: 25%;
    width: 100%;
}

.grid div ul{
    color: blanchedalmond;
}
.affichage>li:hover{
    background-color: transparent;
}
.affichage>li{
    color: blanchedalmond;
}
.affichage1>li:hover{
    background-color: transparent;
}
li strong{
    color: rgb(113, 221, 126);
}

.grid div>button {
    margin-bottom: 10px;
    height: 30px;
    font-size: large;
    background-color: blanchedalmond;
    border-radius: 6px;
    cursor: pointer;
    
}
input[type='submit']{
    margin-bottom: 10px;
    height: 30px;
    font-size: large;
    background-color: blanchedalmond;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
}
/*le code css du formulaire */

.activities{
    position: fixed;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(91, 55, 2, 1);
    border-radius: 10px;
    padding: 30px;
    /* Position initiale : en bas, invisible */
    transform: translateY(150%);
    opacity: 0;
    /* Transition pour animation fluide */
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; 
}
/* Position finale : visible et à sa place */
.activities.show{
    transform: translateY(0);
    opacity: 0.98;
}

.activities span{
    align-self:flex-end;
    position: relative;
    bottom: 10px;
    right: 5%;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}


label {
    color: blanchedalmond;
    font-size: large;
}

